[settings]
version = retail
game directory =

[retail]
advancedinterfaceoptions
advanced-tooltips
azeritepowerweights
azeritetooltip
battlegroundenemies
bigdebuffs
big-wigs
blizzmove
dejacharacterstats
details
ealign-updated
easy-frames
faster-loot
gladiatorlossa2
grid2
handynotes
tomcats-tours-mechagon
immersion
little-wigs
map-coords
method-dungeon-tools
nameplate-scrolling-combat-text
omnibar
omni-cc
prat-3-0
premade-filter
premade-groups-filter
raiderio
range-display
sarena
scrap
sexymap
simulationcraft
spy
stat-weight-score
tidy-plates-threat-plates
trufigcd
undermine-journal
weakauras-2
world-quest-tracker
angry-assignments

[classic]
atlas
atlas-classicwow
classicauradurations
classiccastbars
classiccodex
classicthreatmeter
details
enhanced-world-map-for-wow-classic
inflight-taxi-timer
itemrack-classic
leatrix-maps-classic
leatrix-plus-classic
perl-classic-unit-frames
real-mob-health
titan-panel-classic
weaponswingtimer
whats-training
zperl

